
 body{
     background-color: #f2f2f2;
    @media screen and (min-width: 968px) {
        body {
          padding: 2rem 2rem;
          text-align: justify;
        }
    }
    .container {
        max-width: 1200px;
        margin: auto;
        width: 100%;
        .header{
            display: flex;
            align-items: center;
            justify-content: space-between;

            @media screen and (min-width: 968px){
                .header{
                    display: flex;
                    flex-direction: column;
                }
            }
            img{
                margin-left: auto;
                vertical-align: middle;
                border-top-left-radius: 30px;
                border-top-right-radius: 30px;
                width: 250px;
                height:250px;
                background-color: black;
                @media screen and (min-width: 968px){
                    display: flex;
                    flex-direction: column;
                }
            }
        }
        
        h1:hover {
            color:red;
            border: 2px solid yellowgreen;
            background-color: yellowgreen;
            text-transform: uppercase;
            cursor: pointer;
        }
        @media screen and (min-width: 968px){
            h1{
                border: 3px solid darkcyan;
                border-left: none;
                border-top: none;
                border-right: none;
            }
        }
        a{
            text-decoration: none;
        }
    }
} 

